@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #f8f8f8;
  font-weight: 300;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #ffffff;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #f4f5f7;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #f7f9fd;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}
.team-img {
  width: 10px;
  height: 10px;
}
@media(max-width:992px){
  .mobile{
      display:flex;
      flex-direction:row;
  }

  .col-lg-3{
  width: 50%;
  } 
}